.flex {
  display: flex;
}

.login-logo {
  width: 300px;
  height: 45px;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.small-text {
  font-size: 14px;
}

.profile-image {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.profile-name h2 {
  margin: 0;
}

.profile-type {
  font-size: 12px;
  margin-bottom: 10px;
}